@page
@model CreateUsModel
@{
    ViewData["Title"] = "Create New Usuarios";
}

<h2>Create New Usuario</h2>

<form method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="Usuario.Nombre" required />
    </div>
    <div>
        <label>Apellido:</label>
        <input asp-for="Usuario.Apellido" required />
    </div>
    <div>
        <label>Email:</label>
        <input asp-for="Usuario.Email" required />
    </div>
     <div>
        <label>Contraseña:</label>
        <input asp-for="Usuario.Password" required />
    </div>
     <div>
        <label>Rol:</label>
        <input asp-for="Usuario.Rol" required />
    </div>
    <button type="submit">Create</button>
</form>
 