@page
@model EditUsModel
@{
    ViewData["Title"] = "Editar Usuario";
}
<h4>Edit Usuarios</h4>
<form method="post">
    <input type="hidden" asp-for="Usuario.Id" />
    <div class="col-3">
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input asp-for="Usuario.Nombre" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido:</label>
            <input asp-for="Usuario.Apellido" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input asp-for="Usuario.Email" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Contraseña:</label>
            <input asp-for="Usuario.Password" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Rol:</label>
            <input asp-for="Usuario.Rol" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>