@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h4>Bienvenido al Dashboard</h4>

<ul class="nav">
    <li class="nav-item">
        <a asp-page="Usuarios/ListUs" class="nav-link active" aria-current="page">Usuarios</a>
    </li>
    <li class="nav-item">
        <a asp-page="Estudiantes/ListEs" class="nav-link">Estudiantes</a>
    </li>
    <li class="nav-item">
        <a asp-page="Roles/ListRol" class="nav-link">Roles</a>
    </li>
</ul>
