@page
@model CreateRolModel
@{
    ViewData["Title"] = "Crear Nuevo Rol";
}

<h4>Crear Nuevo Rol</h4>

<form method="post">
    <div class="col-3">
        <div class="mb-3">
            <label class="form-label">Rol:</label>
            <input asp-for="Rol.NombreRol" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-success">Crear</button>
    </div>
</form>
