@page
@model EditRolModel
@{
    ViewData["Title"] = "Editar Rol";
}

<h4>Editar Rol</h4>

<form method="post">
    <input type="hidden" asp-for="Rol.Id" />
    <div class="col-3">
        <div class="mb-3">
            <label class="form-label">Rol:</label>
            <input asp-for="Rol.NombreRol" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>